<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
    <link href="/css/contact.css" rel="stylesheet" href="text/css">
</head>
<body>

    <div id="container3">
      <div id="footer">
        <div class="bottomNav">
          <ul class="navbarBottom">
            <li class="listItems">
              <a href="/index2">Home</a>
            </li>
            <li class="listItems">
              <a href="/neighborhoods">Neighborhoods</a>
            </li>
            <li class="listItems">
              <a href="/crime">Visas</a>
            </li>
            <li class="listItems">
              <a href="/contact">Contact</a>
            </li>
            <li class="listItems">
              <a href="/sign-up/signin">Sign Out</a>
            </li>
            <li class="listItems">
              <a href="contact2">Translate</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

      <script src="/js/jquery.js" type="text/javascript"></script>
      <script type='text/javascript' src='config.js'></script>
      <script src="/js/script.js" type="text/javascript"></script>
</body>
</html>
