<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
    <link href="/css/neighborhoods.css" rel="stylesheet" href="text/css">
</head>
<body>

  <div id="outerNeighborhood">
    <div class="neighborhoods">
      <img id="page1" src="./images/brooklynBridge.jpg" alt="">
      <h1>Neighborhoods</h1>
      <p>(Based off studio apartment, non-doorman)</p>
      <br />
      <div class="container">
        <h3><a class="neighborhoodLink" href='https://www.google.com/maps/place/Upper+East+Side,+New+York,+NY/@40.7731282,-73.9752436,14z/data=!3m1!4b1!4m5!3m4!1s0x89c258bf08488f6b:0x618706a9142daa0d!8m2!3d40.7735649!4d-73.9565551'>Upper East Side</a></h3>
          <div class="dropMenu">
            <p>Avg. Rent: $2,112</p>
            <p>Neighborhood Score: </p>
            <p>Restaurants:</p>
            <p>Nightlife:</p>
            <p>Subway:</p>
            <p>Crime:</p>
            <div id="map"></div>
          </div>
      </div>
      <div class="container">
        <h3><a class="neighborhoodLink" href="https://www.google.com/maps/place/Upper+West+Side,+New+York,+NY/@40.7873217,-73.994804,14z/data=!3m1!4b1!4m5!3m4!1s0x89c25882fb30bbd5:0x5e26248b46dfc46c!8m2!3d40.7870106!4d-73.9753676">Upper West Side</a></h3>
          <div class="dropMenu">
            <p>Avg. Rent: $2,189</p>
            <p>Neighborhood Score: </p>
            <p>Restaurants:</p>
            <p>Nightlife:</p>
            <p>Subway:</p>
            <p>Crime:</p>
          </div>
      </div>
      <div class="container">
        <h3><a class="neighborhoodLink" href="https://www.google.com/maps/place/Hell's+Kitchen,+New+York,+NY/@40.7629812,-74.0111039,14z/data=!3m1!4b1!4m5!3m4!1s0x89c25850a4606051:0x1976b26060ef9a02!8m2!3d40.7637581!4d-73.9918181">Hells Kitchen</a></h3>
          <div class="dropMenu">
            <p>Avg. Rent: $2,384</p>
            <p>Neighborhood Score: </p>
            <p>Restaurants:</p>
            <p>Nightlife:</p>
            <p>Subway:</p>
            <p>Crime:</p>
          </div>
      </div>
      <div class="container">
        <h3><a class="neighborhoodLink" href="https://www.google.com/maps/place/Midtown+East,+New+York,+NY/@40.7561842,-73.9787447,15z/data=!3m1!4b1!4m5!3m4!1s0x89c258e29b293dbb:0x971e98d1228d637c!8m2!3d40.7540369!4d-73.9668408">Midtown East</a></h3>
          <div class="dropMenu">
            <p>Avg. Rent: $2,193</p>
            <p>Neighborhood Score: </p>
            <p>Restaurants:</p>
            <p>Nightlife:</p>
            <p>Subway:</p>
            <p>Crime:</p>
         </div>
        </div>
      <div class="container">
        <h3><a class="neighborhoodLink" href="https://www.google.com/maps/place/Chelsea,+New+York,+NY/@40.7472295,-74.0158369,14z/data=!3m1!4b1!4m5!3m4!1s0x89c259b082b8c8a7:0x2e54eb9ab02636f0!8m2!3d40.7465004!4d-74.0013737">Chelsea</a></h3>
          <div class="dropMenu">
            <p>Avg. Rent: $2,575</p>
            <p>Neighborhood Score: </p>
            <p>Restaurants:</p>
            <p>Nightlife:</p>
            <p>Subway:</p>
            <p>Crime:</p>
          </div>
      </div>
      <div class="container">
        <h3><a class="neighborhoodLink" href="https://www.google.com/maps/place/Murray+Hill,+New+York,+NY/@40.7483052,-73.9807964,16z/data=!3m1!4b1!4m5!3m4!1s0x89c259041366262b:0xfdac298467953648!8m2!3d40.7478792!4d-73.9756567">Murray Hill</a></h3>
          <div class="dropMenu">
            <p>Avg. Rent: $2,271</p>
            <p>Neighborhood Score:</p>
            <p>Restaurants:</p>
            <p>Nightlife:</p>
            <p>Subway:</p>
            <p>Crime:</p>
          </div>
      </div>
      <div class="container">
        <h3><a class="neighborhoodLink" href="https://www.google.com/maps/place/Gramercy+Park,+New+York,+NY/@40.7357644,-73.9880396,16z/data=!3m1!4b1!4m5!3m4!1s0x89c2590a1a5fa631:0xfc4f216868510bd2!8m2!3d40.7367783!4d-73.9844722">Gramercy Park</a></h3>
          <div class="dropMenu">
            <p>Avg. Rent: $2,674</p>
            <p>Neighborhood Score: </p>
            <p>Restaurants:</p>
            <p>Nightlife:</p>
            <p>Subway:</p>
            <p>Crime:</p>
          </div>
      </div>
      <div class="container">
        <h3><a class="neighborhoodLink" href="https://www.google.com/maps/place/Meatpacking+District,+New+York,+NY+10014/@40.7408415,-74.0096783,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259c070d66149:0x702355f38789e89e!8m2!3d40.7409865!4d-74.0076108">Meatpacking District</a></h3>
          <div class="dropMenu">
            <p>Avg. Rent: $2,575</p>
            <p>Neighborhood Score: </p>
            <p>Restaurants:</p>
            <p>Nightlife:</p>
            <p>Subway:</p>
            <p>Crime:</p>
          </div>
      </div>
      <div class="container">
        <h3><a class="neighborhoodLink" href="https://www.google.com/maps/place/West+Village,+New+York,+NY/@40.7346606,-74.0125296,15z/data=!3m1!4b1!4m5!3m4!1s0x89c25994969f5463:0xef39a95bf88cb084!8m2!3d40.735781!4d-74.0035709">Greenwich Vilage</a></h3>
          <div class="dropMenu">
            <p>Avg. Rent: $2,796</p>
            <p>Neighborhood Score: </p>
            <p>Restaurants:</p>
            <p>Nightlife:</p>
            <p>Subway:</p>
            <p>Crime:</p>
          </div>
      </div>
      <div class="container">
        <h3><a class="neighborhoodLink" href="https://www.google.com/maps/place/East+Village,+New+York,+NY/@40.7265994,-73.9909083,15z/data=!3m1!4b1!4m5!3m4!1s0x89c25977e7cc4e45:0x6fa935f3400f68ec!8m2!3d40.7264773!4d-73.9815337">East Village</a></h3>
          <div class="dropMenu">
            <p>Avg. Rent: $2,515</p>
            <p>Neighborhood Score: </p>
            <p>Restaurants:</p>
            <p>Nightlife:</p>
            <p>Subway:</p>
            <p>Crime:</p>
          </div>
      </div>
      <div class="container">
        <h3><a class="neighborhoodLink" href="https://www.google.com/maps/place/Alphabet+City,+New+York,+NY+10009/@40.725197,-73.9888108,15z/data=!3m1!4b1!4m5!3m4!1s0x89c2597782a42ca9:0x17b31f867266f5b4!8m2!3d40.7260601!4d-73.9785952">Alphabet City</a></h3>
          <div class="dropMenu">
            <p>Avg. Rent: $2,356</p>
            <p>Neighborhood Score: </p>
            <p>Restaurants:</p>
            <p>Nightlife:</p>
            <p>Subway:</p>
            <p>Crime:</p>
          </div>
      </div>
      <div class="container">
        <h3><a class="neighborhoodLink" href="https://www.google.com/maps/place/SoHo,+New+York,+NY/@40.7236528,-74.0050567,16z/data=!3m1!4b1!4m5!3m4!1s0x89c2598c5e51e2f3:0xce2f3449f490f818!8m2!3d40.723301!4d-74.0029883">SoHo</a></h3>
          <div class="dropMenu">
            <p>Avg. Rent: $2,963</p>
            <p>Neighborhood Score: </p>
            <p>Restaurants:</p>
            <p>Nightlife:</p>
            <p>Subway:</p>
            <p>Crime:</p>
          </div>
      </div>
      <div class="container">
        <h3><a class="neighborhoodLink" href="https://www.google.com/maps/place/Tribeca,+New+York,+NY/@40.7186435,-74.0165811,15z/data=!3m1!4b1!4m5!3m4!1s0x89c25a1f938ba715:0x4553612f06be2498!8m2!3d40.7162692!4d-74.0086323">TriBeCa</a></h3>
          <div class="dropMenu">
            <p>Avg. Rent: $4,656</p>
            <p>Neighborhood Score: </p>
            <p>Restaurants:</p>
            <p>Nightlife:</p>
            <p>Subway:</p>
            <p>Crime:</p>
          </div>
        </div>
      <div class="container">
        <h3><a class="neighborhoodLink" href="https://www.google.com/maps/place/Lower+East+Side,+New+York,+NY/@40.7166344,-73.9935457,15z/data=!3m1!4b1!4m5!3m4!1s0x89c2598015ac8beb:0x59b849fea56b6a70!8m2!3d40.715033!4d-73.9842724">Lower East Side</a></h3>
          <div class="dropMenu">
            <p>Avg. Rent: $2,356</p>
            <p>Neighborhood Score: </p>
            <p>Restaurants:</p>
            <p>Nightlife:</p>
            <p>Subway:</p>
            <p>Crime:</p>
          </div>
      </div>
      <div class="container">
        <h3><a class="neighborhoodLink" href="https://www.google.com/maps/place/Chinatown,+New+York,+NY/@40.7160897,-74.0012583,16z/data=!3m1!4b1!4m5!3m4!1s0x89c259f56c2fc10d:0xcf9e1370cd1f3111!8m2!3d40.7157509!4d-73.9970307">China Town</a></h3>
          <div class="dropMenu">
            <p>Avg. Rent: $2,231</p>
            <p>Neighborhood Score: </p>
            <p>Restaurants:</p>
            <p>Nightlife:</p>
            <p>Subway:</p>
            <p>Crime:</p>
          </div>
      </div>
      <div class="container">
        <h3><a class="neighborhoodLink" href="https://www.google.com/maps/place/Financial+District,+New+York,+NY/@40.708831,-74.0166889,15z/data=!3m1!4b1!4m5!3m4!1s0x89c25a18338ac807:0x2bac148b119ab3!8m2!3d40.7074909!4d-74.0112764">Financial District</a></h3>
          <div class="dropMenu">
            <p>Avg. Rent: $3,123</p>
            <p>Neighborhood Score: </p>
            <p>Restaurants:</p>
            <p>Nightlife:</p>
            <p>Subway:</p>
            <p>Crime:</p>
          </div>
      </div>
    </div>
    <iframe id="map1" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d48367.21975234898!2d-73.98886824999998!3d40.74109854999999!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1484839009657" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>



<!-- <br /> <br />
  <img class="map" id="map3" src="./images/popular.jpg" alt="no image">
    <br /> <br />
  <img class="map" id="map2" src="./images/studioRent.png" alt="no image">
    <br /> <br />
 -->


    <div id="container3">
      <div id="footer">
        <div class="bottomNav">
          <ul class="navbarBottom">
            <li class="listItems">
              <a href="/index">Home</a>
            </li>
            <li class="listItems">
              <a href="/neighborhoods">Neighborhoods</a>
            </li>
            <li class="listItems">
              <a href="/crime">Visas</a>
            </li>
            <li class="listItems">
              <a href="/events">Events</a>
            </li>
            <li class="listItems">
              <a href="/contact">Contact</a>
            </li>
            <li class="listItems">
              <a href="/sign-up/signin">Sign Out</a>
            </li>
            <li class="listItems">
              <a href="buurten">Translate</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

      <script src="/js/jquery.js" type="text/javascript"></script>
      <script type='text/javascript' src='config.js'></script>
      <script src="/js/script.js" type="text/javascript"></script>
</body>
</html>
