html {
  margin: 0px;
  background-color: black;
}

html,
body {
   margin:20px;
   padding:0;
   height:100%;
}


#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background-color: black;
}


#footer ul {
  text-align: center;
  list-style-type: none;
}
#footer li {
  display: inline;
}
#footer a {
  padding: 2px 12px;
  background: rgba(0,0,0,0.5);
  text-decoration: none;
}
#footer a:hover {
  background: white;
  color: black;
}
