/* GOOD MAPS+PLACES API */
#map {
  width: 700px;
  height: 700px;
  margin: 0;
  margin-right: 50px;
  display: inline-block;
  position: relative ;
  float: right;
}

/* #description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
} */

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

/* END OF TEST MAP */






html {
  margin: 0px;
  background-color: white;
}

html,
body {
   margin:20px;
   padding:0;
   height:100%;
}

/* DIV ALIGNMENT */
#outerNeighborhood {
  padding-top: 40px;
  width: 100%;
  height: 150%;
}
#map1 {
  width: 600px;
  height: 500px;
  margin: 0;
  margin-right: 50px;
  display: inline-block;
  position: relative ;
  float: right;
}

.hoverImage {
  width: 600px;
  height: 450px;
  margin: 0;
  margin-right: 50px;
  display: inline-block;
  position: relative ;
  float: right;
}
/* #map2 {
  width: 400px;
  height: 400px;
  display: inline;
  position: relative;
}
#map3 {
  width: 400px;
  height: 400px;
  display: inline;
  position: relative;
} */

.neighborhoods {
  width: 25%;
  color: black;
  display: inline-block;
  text-align: left;
  position: relative;
}
.neighborhoodLink {
  text-decoration: none;
  color: black;
  position: relative;
}



/* HOVER OVER NEIGHBORHOODS*/
*{margin:0px; padding:0px}

.container {
  padding:10px;
  width:200px;
}

.dropMenu {
  display: none;
  height: 75px;
  overflow: auto;
  width: 200px;}

.container:hover .dropMenu {
  display:block;
}

.hoverImage  {
  width: 100px;
  height: 100px;
}


/* FOOTER DATA */
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

#footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background-color: white;
   margin-left: -30px;
}

#footer ul {
  margin-top: 15px;
  text-align: center;
  list-style-type: none;
}
#footer li {
  display: inline;
}
#footer a {
  padding: 2px 12px;
  /* background: rgba(0,0,0,0.5); */
  text-decoration: none;
}
#footer a:hover {
  background: black;
  color: white;
}

.listItems a {
  list-style: none;
  display: inline;
  color: black;
}

.navbarBottom {
  text-align: center;
  margin-left: -20px;
  padding-left: 0;
}


/* BACKGROUND IMAGES */
/* img#page1 {
  top: 30%;
  left: 30%;
  width: 100%;
  height: 100%;
  z-index: -100;
  -ms-transform: translateX(-30%) translateY(-30%);
  -moz-transform: translateX(-30%) translateY(-30%);
  -webkit-transform: translateX(-30%) translateY(-30%);
  transform: translateX(-30%) translateY(-30%);
  background: url(./images/brooklynBridge.jpg) no-repeat;
  background-size: cover;
  position: relative;
} */


